@model IEnumerable<Links>
@{
    ViewData["Title"] = "Links - Explore";
}


<div>
    
    
        @foreach (var value in Model)
        {
            
           <a asp-controller="Users" asp-action="Profile" asp-route-id="@value.User.Id" ><h3>@value.User.UserName</h3></a> 
            <h6>@value.Site</h6>
            <div style="width: 40%; ">@Html.Raw(@value.RawHtml)</div> 
            <br/>
            <br/>
            
            
            
        }
        
</div>