@model IEnumerable<Links>
@{
    ViewData["Title"] = "Links - Home";
}

<table>
    <thead>
    <tr>
        
        <th>
            Site
        </th>
        <th>
            Public
        </th>

    </tr>
    </thead>
    <tbody>
        @foreach (var value in Model)
        {
            <div style="width: 50%; ">@Html.Raw(@value.RawHtml)</div> 
            <tr>
                <td>@value.Site</td>
                
                <td>@value.IsPublic</td>
            </tr>
            <tr>
                <td>
                    <a asp-controller="Links" asp-action="Detail" asp-route-id="@value.Id"> Detail </a>
                </td>
            </tr>
        }
    </tbody>
</table>