@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model IEnumerable<Links>
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div>
    
   
    
    @{
        if (SignInManager.IsSignedIn(User))
        {
            if (Model.Any())
            {
                @foreach (var value in Model)
                {
                    <div class=" ml-36 w-8/12  rounded-lg shadow ">
                        <div class="rounded-t-lg">
                            @Html.Raw(@value.RawHtml)
                        </div>
                        <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Posted By : @value.User.UserName</h5>
                            <p class="mb-3 font-normal text-gray-700 "> Site : @value.Site</p>
                            <a asp-controller="Users" asp-action="Profile" asp-route-id="@value.User.Id" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center bg-red-300 hover:bg-red-900 hover:text-white text-black rounded-lg focus:ring-4 focus:outline-none focus:ring-red-300">
                                Visit @value.User.UserName
                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                        </div>
                        <hr class="w-48 h-1 mx-auto my-4 bg-red-900 border-0 rounded md:my-10 ">
                    </div>
        
                }
            }
            else if (User.IsInRole("Admin"))
            {
                <h1>Welcome Admin</h1>
            }
            else
            {
                var userId = UserManager.GetUserId(User);
                   
                                           
                                                
                <div class="ml-36">
                    <a  asp-controller="Users" asp-action="Profile" asp-route-id="@userId" class=" text-black border-b-2 text-4xl font-bold border-red-300 hover:border-red-900 hover:text-red-900 " >
                        Hello, @User?.Identity?.Name
                    </a>
                    <h2 class="text-2xl mt-5 mb-4">Please follow someone to get to see their posts on your home feed </h2>
                    <h5 class="text-lg mb-5">for now <a asp-controller="Links" asp-action="Explore"> <span class="hover:text-red-900 border-b-2 border-black">Explore</span></a></h5>

                </div>
                 }
            
        }
        else
        {
            

            <section class="pl-44">
                <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
                    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-black md:text-5xl lg:text-6xl">Welcome to LinkStorage</h1>
                    <p class="mb-8 text-lg font-normal text-black lg:text-xl sm:px-16 lg:px-48 ">Learn about <a class="border-b-2 border-black hover:border-none hover:text-red-900" asp-action="About" asp-controller="Home"> LinkStorage</a>.</p>
                </div>
                <div class="  bg-gradient-to-b from-red-300 to-transparent w-full h-full absolute top-16 left-0 z-0"></div>
            </section>

            
            
            
        }
    }



</div>
